.navbar a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: blanchedalmond;
    font-size: 20px;
    margin-left: 50px;
}



.navbar a:hover{
    color: aqua;
}

.logo container{
    align-items: center;
    justify-content: center;
    
}

#fae{
    margin-bottom: 50px;
}

#logoo{
    margin-left: 640px;
}

.introduction row{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
